<div class="container">
    <!-- Lista de Tareas -->
    <h1>Hola de nuevo angular</h1>
    <h2>{{ welcome }}</h2>
    <ul>
        <li *ngFor="let task of tasks">
            {{ task }}
        </li>
    </ul>
    <hr />
    <!-- Operaciones Logoicas JS -->
    <h2>{{ 'Hola Mundo'.repeat(3) }}</h2>
    <p>Hola desde 1 + 2 = {{ 1+2 }}</p>

    <p>Hola soy {{ name() }} y tengo {{ edad }}</p>

    <hr />
    <!-- Objetos (person) -->
    <img [src]="image" alt="">
    <input type="number" [value]="person().age">
    <button [disabled]="disabled" >Click Me!!</button>
    <p>Person: {{ person().name }}</p>
    <hr />
    <!-- Eventos -->
    <button (click)="cliclHandler()">Click here!!</button>
    <button (dblclick)="cliclHandler()">double Click!!</button>
    <!-- Console log imprime el evento de cambio solo cuando ya se ha modificado el texto y se presiona Enter -->
    <p>(change)</p>
    <input type="number" [value]="person().age" (change)="changeHandler($event)">
    <!-- Console log se activa y imprime el historial de cambios que ha sufrido el imput -->
    <p>(keydown)</p>
    <input type="text" [value]="person().name" (keydown)="keydownHandler($event)">
    <!-- Sale una alerta cuando presionas la combinacion de ambas teclas -->
    <p>(keydown shift + T)</p>
    <input type="text" [value]="person().name" (keydown.shift.t)="shiftAlert()">
    <hr/>
    <h1>Signals</h1>
    <input type="text" [value]="name()" (change)="changeHandlersignal($event)">
    <p>name: {{ name() }}</p>
    <hr/>
    <!-- Obtener el valor de una señal con base a un Array-->
    <h1>Estructuras de Control</h1>
    <p>Total: {{ taskss().length }}</p>
    <ul>
        <li *ngFor="let taskk of taskss() index as i">
            {{ i }} {{ taskk }}
        </li>
    </ul>
    <hr/>
    <div *ngIf="1 !== 1">
        My Content 1
    </div>
    <div *ngIf="name() === 'Yesith' ">
        Hola Yesith
    </div>
    <h1>Edad:</h1>
    <input type="number" [value]="person().age" (change)="changeAge($event)">
    <!-- Condicional que me imprime en pantalla un texto segun se cumpla, Cuando no se cumple va y busca a #elseBlock -->
    <div *ngIf="person().name === 'Yesith' && person().age > 18; else elseBlock ">
       Yesith es Mayor de 18
    </div>
    <ng-template #elseBlock>
        Yesith es menor de 18
    </ng-template>
    <hr/>
    <!-- Swith que se cumple solo si uno de los casos cumple con el requerimiento -->
    <input type="text" [value]="person().name" (change)="changeName($event)">
    <div [ngSwitch]="person().name">
        <p *ngSwitchCase=" 'Yesith' "> Yo soy el Yesith</p>
        <p *ngSwitchCase=" 'Julian' "> Yo soy el Julian</p>
        <p *ngSwitchCase=" 'Alex' "> Yo soy el Alex</p>
        <p *ngSwitchCase=" 'Juan' "> Yo soy el Juan</p>
        <p *ngSwitchDefault>No se quien soy</p>
    </div>
    <hr/>
    <!-- Estructura de color -->
     <h1>Estructura de Color</h1>
    <input type="color" [formControl]="colorCtrl">
    <p>color: {{colorCtrl.value}} </p>
    <svg>
        <g>
            <rect x="" y="" height="100" width="100" [attr.fill]="colorCtrl.value"/>
        </g>
    </svg>
    <hr/>
    <!-- Cambiar propiedad css mediante property builder -->
     <h1>Cambiar propiedad CSS mediante Input</h1>
    <input type="number" [formControl]="widthCtrl">
    <span class="box" [style.width.px]="widthCtrl.value"></span>
    <hr/>
    <p>
        <input type="text" [formControl]="nameCtrl"><br />
        <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre Invalido</span>
    </p>
    <p>
        <input type="text" [formControl]="colorCtrl"><br />
        <span class=""></span>
    </p>
</div> 
