<section class="todoapp">
    <header class="header">
      <div class="container">
        <h1>My Day</h1>
        <p>All my tasks in one place</p>
        <!-- Se llama al metodo (changeHandler) y despues se le envia el evento a ejecutar -->
        <input
          class="new-todo"
          placeholder="Type new todo"
          autofocus
          type="text"
          (change)="changeHandler($event)"
        />
      </div>
    </header>
    <div class="container todoapp-wrapper">
      <!-- This section should be hidden by default and shown when there are todos -->
       <pre>
        <code>
          {{ tasks() | json }}
        </code>
       </pre>
      <section class="main">
        <ul class="todo-list">
          <!-- "*ngFor" que contiene normalmente un Array -->
          <li *ngFor="let task of tasks() index as i">
            <div class="view">
              <!-- Vuelve reactiva la tarea haciendo que se actualice el estado en que se encuetra (metodo "updateTask()") -->
              <input class="toggle" type="checkbox" [checked]="task.completed" (change)="updateTask(i)"/>
              <label>{{ task.tittle  }}</label>
              <!-- Agrega Metodo para Eliminar una tarea llamandolo y pasandole como parametyro la posicion del elemento dentro de un Array -->
              <button class="destroy"(click)="deleteTask(i)"></button>
            </div>
            <input class="edit" value="Buy a unicorn" />
          </li>
          <!-- 
          <li class="completed">
            <div class="view">
              <input class="toggle" type="checkbox" checked />
              <label>Learn JavaScript</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Learn JavaScript" />
          </li>  
          <li>
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Buy a Unicorn</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Buy a unicorn" />
          </li>        
          <li class="editing">
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Make dishes</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Make dishes" />
          </li>
           -->
        </ul>
      </section>
      <!-- This footer should be hidden by default and shown when there are todos -->
      <footer class="footer">
        <!-- Contador que me dice el numero de Tareas que Hay en mi Lista-->
        <span class="todo-count">
          <strong>{{ tasks().length }}</strong>
          <span *ngIf="tasks().length === 1; else items">item</span>
          <ng-template #items> items</ng-template>
          
        </span> 
        <!-- Remove this if you don't implement routing -->
        <ul class="filters">
          <li>
            <a routerLink="/" class="selected">All</a>
          </li>
          <li>
            <a routerLink="/pending">Pending</a>
          </li>
          <li>
            <a routerLink="/completed">Completed</a>
          </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <button class="clear-completed">Clear completed</button>
      </footer>
    </div>
  </section>